<div class="card" id="express-card">
  <div class="card-body">
    <div class="card-info">
      <h5 class="card-title mb-3">
        快递信息
        <a class="btn-link float-end text-danger manage-pack">删除包裹</a>
        <a class="btn-link float-end manage-pack">添加包裹</a>
      </h5>
    </div>
    <div class="container border-top">
      <div class="row">
        <div class="col-5">
          <div class="list-group" id="packages-list" role="tablist">
            {% include 'express/package_list.html' %}
          </div>
        </div>
        <div class="col-7">
          <div class="tab-content">
            {% for i in packages_info %}
            {% include 'express/track_detail.html' %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(".track:last-child .timeline").remove();
  $(".track:first-child p").removeClass("text-muted");
  $(".track-detail:first-child").addClass("active");
  $(".package-item:first-child").addClass("active");
</script>