#express-card {
    height: 35rem;
}

#express-card .container{
    padding: 0;
}

.manage-pack {
    font-size: 1.25rem;
    margin-right: 1.3rem;
    text-decoration: none;
    cursor: pointer;
}

.manage-pack::after {
    display: none;
}

#add-package {
    padding: 1rem 0.5rem;
}

#packages-list {
    overflow-y: scroll;
    border-radius: 0rem;
    border-bottom-left-radius: 1rem;
}

#packages-list, .track-detail {
    min-height: 31rem;
    max-height: 31rem;
    width: 100%;
}

.track-detail {
    overflow-y: auto;
    padding-right: 1.5rem;
    padding-bottom: 1.5rem;
}

#packages-list .list-group-item:last-child {
    border-bottom-left-radius: 0;
}

#packages-list .active .text-muted {
    color: white!important;
}

.package-item p.mb-1 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.track {
    margin-top: 1.5rem;
    margin-left: 2.5rem;
    position: relative;
}

.track::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    left: -2.5rem;
    top: 1rem;
    background-color: white;
    border: 5px solid gray;
    border-radius: 50%;
    z-index: 1;
}

.timeline {
    position: absolute;
    left: -2rem;
    top: 1rem;
    height: 150%;
    width: 5px;
    background-color: #e4e4e4;
    transform: translate3d(0,0,0);
}